@model ProductViewModel
@{
    ViewData["Title"] = Model.Name;
}

<link rel="stylesheet" href="~/css/products.css" />

<div class="product-detail-container">
    <div class="product-detail-card">
        <img class="product-detail-image" src="@Model.ImageUrl" alt="@Model.Name">
        <div class="product-detail-body">
            <h2 class="product-detail-title">@Model.Name</h2>
            <p class="product-detail-description">@Model.Descriprion</p>
            <div class="product-detail-price">@Model.Cost ₽</div>

            <div class="action-buttons">
                <a class="btn btn-danger" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>
                <a class="btn btn-primary" href="/home/index" role="button">Вернуться в каталог</a>
            </div>
        </div>
    </div>
</div>