@model List<ProductViewModel>
@{
    ViewData["Title"] = "Каталог товаров";
}

<link rel="stylesheet" href="~/css/products-grid.css" />

<h1 class="text-center my-4">Каталог товаров</h1>

<div class="products-grid-container">
    @foreach (var product in Model)
    {
        <a asp-area="" asp-controller="Product" asp-action="Index" asp-route-id="@product.Id" class="product-card-square">
            <div class="product-image-wrapper">
                <img class="product-image-square" src="@product.ImageUrl" alt="@product.Name">
            </div>
            <div class="product-info-square">
                <a class="btn btn-danger" href="/cart/add?productId=@product.Id" role="button">Добавить в корзину</a>
                <div class="product-title-square" title="@product.Name">@product.Name</div>
                <div class="product-price-square">@product.Cost ₽</div>
            </div>


        </a>
    }
</div>