@model CartViewModel

<link rel="stylesheet" href="~/css/site.css" />

@if (Model == null || Model.Items.Count == 0)
{
    <div class="d-flex justify-content-center align-items-center" style="height: 70vh;">
        <div class="text-center">
            <h3>Корзина пуста</h3>
            <a class="btn btn-primary" href="/home/index">Вернуться к покупкам</a>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена руб.</th>
                        <th>Количество</th>
                        <th>Стоимость руб.</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.Product.Name</td>
                            <td>@item.Product.Cost ₽</td>

                            <td>
                                <a class="btn btn-sm btn-secondary" href="/cart/DecreaseAmount?productId=@item.Product.Id" role="button">-</a>
                                @item.Amount
                                <a class="btn btn-sm btn-secondary" href="/cart/Add?productId=@item.Product.Id" role="button">+</a>
                            </td>

                            <td>@item.Cost ₽</td>
                        </tr>
                    }
                </tbody>
                <a class="btn btn-sm btn-danger" href="/cart/Clear" role="button">Очистить корзину</a>
            </table>
            <div class="text-lg-end">
                <h3>Итого:</h3>
                <h3>@Model.Cost</h3>
            </div>
            <div class="text-center">
                <a class="btn btn-primary" href="/home/index" role="button">Прололжить покупки</a>
                <a class="btn btn-success" href="/order/index" role="button">Оформить заказ</a>
            </div>
        </div>
    </div>
}

